html {
  text-align: center;
  font-family: Helvetica;
}
.banner {
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
  color: white;
  font-weight: bold;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
.banner h1 {
  font-size: 70px;
}
.banner a {
  font-size: 16px;
  color: white;
  font-weight: normal;
}
#footer, #footer a {
  background-color: dimgray;
  color: white;
}
